.collection-item {
  display: flex;
  justify-content: space-between;
}

.delete {
  cursor: pointer;
  color: red;
}

.like-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-box > i {
  margin-right: 5px;
}
